# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
# Dependency directories
node_modules/
jspm_packages/
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# dotenv environment variables file
.env
.env.test

# vscode
.vscode/

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*